<ion-view view-title="Author App">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-divider">
				Informacion
			</div>
			<div class="item item-text-wrap">
				Aplicacion desarrollada por Jesus Echeverria

				A continuacion puede consultar informacion sobre el autor.
			</div>
			<div class="item item-divider">
				<div class="list card">
					<a href="#" class="item item-icon-left">
						<i class="icon ion-ios-book">Curriculum Vitae</i>
					</a>
					<a href="mailto:jesusmecheverriam@gmail.com" class="item item-icon-left">
						<i class="icon ion-ios-email"></i>
						<strong>Correo: </strong>
						jesusmecheverriam@gmail.com
					</a>
					<a href="#" class="item item-icon-left">
						<i class="icon ion-ios-iphone"></i>
						<strong>Telefono</strong>
						(614)344-31-51
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>