<ion-view view-title="Inicio">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-divider">
				Bienvenido a Biblioteca
			</div>
			<div class="item item-text-wrap">
				IBiblioteca es una aplicacion desarrollada
				con ionic que permite gestionar una bilioteca 
				de un cento educativo.
				Para acceder a la bilioteca pulsa el siguiente boton
			</div>
			<div class="item item-divider">
				<button class="button icon-left icon-university button-positive">Acceso a la Biblioteca</button>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Informacion del Autor
			</div>
			<div class="item item-text-wrap">
				Aplicacion desarrollada por
				Jesus Manuel Echeverria Molinar
			</div>
			<div class="item item-divider">
				<button class="button icon-left icon-person button-positive">Consultar Informacion</button>
			</div>
		</div>
	</ion-content>
</ion-view>